
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700|Acme');

* {
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: dimgray;
  color: azure;
}

canvas {
  background-color: azure;
}

h1 {
  font-family: 'Acme', sans-serif;
  font-size: 100px;
  font-weight: 400;
  padding: 50px 0;
}

h3,
p {
  font-family: 'Raleway', sans-serif;
}

body,
.menu-div {
  display: flex;
  text-align: center;
  flex-flow: column;
}

.game-header a,
.menu-div a,
.attribution a {
  text-decoration: none;
  color: azure;
}

.button {
  background-color: rgba(220, 220, 220, .5);
  color: azure;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  padding: 15px;
  border-radius: 5%;
  border: 0;
  margin: 10px auto;
  width: 290px;
}

.modal {
  color: dimgray;
  margin: 200px auto;
  font-size: 20px;
}

.lose-modal {
  font-size: 20px;
}

.lose-modal button {
  background-color: rgb(220, 220, 220);
  color: white;
}

canvas {
  border: 2px solid black;
}

.puppies-saved {
  margin-right: 40px;
}

.images img {
  width: 30%;
  align-self: center;
}

.images {
  width: 600px;
  justify-content: center;
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  padding: 70px 0;
}

.images .arrow {
  width: 8%;
}

.attribution {
  padding-top: 20px;
}
